<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/tailwind.css">

    <style>
        .avatar-inner-dimension{
            width: 53px;
            height: 53px;
        }
        .avatar-outer-dimension{
            width: 65px;
            height: 65px;
        }
    </style>
</head>

<body class="w-screen h-screen flex items-center justify-center bg-gray-900">
   <div class="avatar-outer-dimension flex items-center justify-center rounded-full border border-green-500">
       <div class="avatar-inner-dimension bg-gray-800 rounded-full ">

       </div>
   </div>
</body>

</html>