<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/tailwind.css">
    <style>
        .poster-dimension {
            width: 256px;
            height: 369px;
        }
    </style>
</head>

<body class="w-screen h-screen flex items-center justify-center bg-gray-900">
    <div class="poster-dimension bg-gray-800 rounded-md">

    </div>
</body>

</html>