<!-- <div>
  <p class="inline-block">
    {{movie.title}}
  </p>
  <button class="bg-red-500 px-2 py-1 rounded text-xs text-white" (click)="_addToWatchlist(movie)"
    *ngIf="!movie.is_in_watchlist">Add to watchlist</button>
  <button class="bg-red-500 px-2 py-1 rounded text-xs text-white" (click)="_removeFromWatchList(movie)"
    *ngIf="movie.is_in_watchlist">Remove from watchlist</button>
</div> -->
<!-- <div class="p-4 w-full">
  <a class="block relative h-48 rounded overflow-hidden">
    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://image.tmdb.org/t/p/w300/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg">
  </a>
  <div class="mt-4">
    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Crime, Drama, Thriller</h3>
    <h2 class="text-gray-900 title-font text-lg font-medium cursor-pointer"  [routerLink]="['/movie', movie.id]">{{movie.title}}</h2>
    <p *ngIf="!displayWlBtn" class="mt-1">8.9</p>
    <div *ngIf="displayWlBtn" class="flex mt-1 justify-between">
      <p class="">8.9</p>
      <button class="px-2 py-1 bg-red-200 hover:bg-red-300 focused:outline-none rounded text-sm" (click)="_removeFromWatchList(movie)">Remove</button>
    </div>
  </div>
</div> -->

<div class="p-4 w-full">
  <a class="block relative h-48 rounded overflow-hidden">
    <img *ngIf="!movie.poster_path" alt="ecommerce" class="object-cover object-center w-full h-full block"
      src="https://image.tmdb.org/t/p/w300/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg">
    <img *ngIf="movie.poster_path" alt="ecommerce" class="object-cover object-center w-full h-full block"
      src="http://localhost:3000/{{movie.poster_path}}">
  </a>
  <div class="mt-4">
    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Crime, Drama, Thriller</h3>
    <h2 class="text-gray-900 title-font text-lg font-medium cursor-pointer" [routerLink]="['/movie', movie.id]">
      {{movie.title}}</h2>
    <div class="flex mt-1 justify-between" *ngIf="displayWlBtn">
      <p class="">8.9</p>
      <!-- <button class="px-2 py-1 bg-red-200 hover:bg-red-300 focused:outline-none rounded text-sm" (click)="_editClick(movie)">Edit</button> -->
      <button class="px-2 py-1 bg-red-200 hover:bg-red-300 focused:outline-none rounded text-sm" (click)="_removeFromWatchList(movie)">Remove</button>
    </div>
  </div>
</div>