<!-- <div class="text-gray-700 body-font shadow-md">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Zen Movies</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a [routerLink]="['']"
                class="mr-5 hover:text-gray-900">Home</a>
            <a [routerLink]="['profile']"
                *ngIf="user$"
                class="mr-5 hover:text-gray-900">Profile</a>
            <a [routerLink]="['movie/watchlist']"
                *ngIf="user$"
                class="mr-5 hover:text-gray-900">Watch list</a>
            <a [routerLink]="['login']"
                *ngIf="!user$"
                class="mr-5 hover:text-gray-900">Login</a>
            <a [routerLink]="['register']"
                *ngIf="!user$"
                class="mr-5 hover:text-gray-900">Register</a>
        </nav>
        <button (click)="logout()"
            *ngIf="user$"
            class="inline-flex items-center bg-red-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Logout
            <svg fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-1"
                viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</div> -->

<!-- start header -->
<div class="w-full">
    <div class="container mx-auto bg-white">
        <div class="flex justify-between items-center">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Zen Movies</span>
                <!-- <div class="search">
                    <input class="search__input"
                        type="text"
                        name="search"
                        placeholder="Search movie..."
                        id="">
                    <button class="search__button">GO</button>
                </div> -->
            </div>
            <ul class="nav__link">
                <li routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['movie']">
                    HOME
                </li>
                <!-- <li  [routerLink]="['profile']"
                *ngIf="user$">
                    Profile
                </li> -->
                <li routerLinkActive="active"
                    [routerLink]="['movie/watchlist']"
                    *ngIf="user$">
                    WATCHLIST
                </li>
                <li routerLinkActive="active"
                    [routerLink]="['movie/booking-history']"
                    *ngIf="user$">
                    Bookings
                </li>
                <li routerLinkActive="active"
                    [routerLink]="['login']"
                    *ngIf="!user$">
                    LOGIN
                </li>
                <li routerLinkActive="active"
                    [routerLink]="['register']"
                    *ngIf="!user$">
                    REGISTER
                </li>
                <li (click)="logout()"
                    *ngIf="user$">
                    Logout
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end header -->


<div class="">
    <router-outlet></router-outlet>
</div>

<!-- start footer section -->
<div class="w-full bg-gray-900">
    <div class="container py-8 text-center">
        <span class="text-gray-500">copyright 2020 Zen Movie</span>
    </div>

</div>
<!-- end footer section -->