<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
  </div>
  <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
  </button>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</form> -->

<div class="w-full bg-3F51B5 mb-10">
  <div class="mw-940 mx-auto p-4 flex justify-between items-center">
      <div class="flex items-center">
          <div class="w-12 h-12 rounded-full bg-gray-600"></div>
          <span class="text-2xl ml-1 font-bold text-white">Job Portal</span>
      </div>
  </div>
</div>

<div class="w-full h-full">
  <form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">


      <div class="mw-940 mx-auto">
          <span class="text-2xl font-semibold">User sign in</span>

          <diV class="w-1/2 flex flex-col bg-white mt-4 shadow-md">
              <!-- <div class="flex justify-end p-4 bg-F7F7F7">
                  <span class="text-2765D7">Do you have a company?</span>
              </div> -->
              <div class="p-4">
                  <div class="mb-2">
                      <span class="font-bold">Username</span>
                      <input class="bg-white p-3 border border-E8E8E8 w-full"
                          formControlName="username"
                          type="text">
                  </div>

                  <div class="mb-2">
                      <span class="font-bold">Password</span>
                      <input class="bg-white p-3 border border-E8E8E8 w-full"
                          formControlName="password"
                          type="password">
                  </div>

                  <button class="py-3 bg-E60278 rounded px-8 mb-4"
                      [disabled]="loading">
                      <span class="font-bold">SIGN IN</span>
                  </button>

                  <div>
                      <span>Don't have an account?</span> <span class="text-2765D7 ml-1"
                          routerLink="/register">Register</span>
                  </div>

              </div>

          </diV>
      </div>
  </form>
</div>
<!-- END EMPLOYER LOGIN -->