<div class="px-4 pt-8">
  <form [formGroup]="form">

    <!-- START FORM ROWS -->
    <div class="flex w-full  mb-8">

      <!-- start first name -->
      <div class="w-1/2 mr-3">
        <p class="text-6F7782 text-xs leading-none mb-2">Title</p>
        <input
          class="focus:outline-none w-full rounded border border-gray-400 p-2 text-sm text-gray-900 leading-relaxed focus:border-blue-500"
          formControlName="title" type="text" placeholder="Title"
          [ngClass]="{'border-red-500': f.title.errors && f.title.touched}" />
        <ng-container>
          <span *ngIf="f.title.errors && f.title.touched" class="text-xs text-red-500">Please enter title.</span>
        </ng-container>
      </div>
      <!-- end first name -->

      <!-- start last name -->
      <div class="w-1/2">
        <p class="text-6F7782 text-xs leading-none mb-2">Description</p>
        <input
          class="focus:outline-none w-full rounded border border-gray-400 p-2 text-sm text-gray-900 leading-relaxed focus:border-blue-500"
          formControlName="description" placeholder="description" [ngClass]="{'border-red-500': f.description.errors && f.description.touched}"
          type="text" />
        <ng-container>
          <span *ngIf="f.description.errors && f.description.touched" class="text-xs text-red-500">Please enter description.</span>
        </ng-container>
      </div>
      <!-- end last name -->
    </div>
    <!-- END FORM ROWS -->

  </form>

</div>
<!-- start bottom -->
<div class="flex justify-end p-4 bg-F6F8F9 absolute bottom-0 w-full">

  <button type="button" class="bg-14aaf5 flex items-center mr-2 px-2 py-1 rounded text-white text-xs" *ngIf="!isEdit"
    (click)="_create(form)">
    Create
  </button>

  <button type="button" class="bg-14aaf5 flex items-center mr-2 px-2 py-1 rounded text-white text-xs"
    *ngIf="exists && isEdit" (click)="_update(form)">
    Update
  </button>
</div>
<!-- end bottom -->