<!-- <ul *ngIf="movies$">
  <section class="text-gray-700 body-font">
    <div class="container px-5 py-20 mx-auto">
      <h1 class="mb-4 font-semibold text-2xl">Browse</h1>
      <div class="flex flex-wrap -m-4">
        <movie-card class="lg:w-1/6 md:w-1/2" *ngFor="let movie of movies$" [routerLink]="['/movie', movie.id]" [movie]='movie'
          (addToWatchlist)="addToWatchList($event)" (removeFromWatchList)="removeFromWatchList($event)"></movie-card>
      </div>
    </div>
  </section>
</ul> -->

<!-- start banner -->
<div class="banner">
    <h2 class="banner__heading text-white">
        Now Showing
    </h2>
</div>
<!-- end banner -->


<!-- start movie grid -->
<div class=" custom__container movie__grid flex flex-wrap  justify-start"
    *ngIf="movies$">
    <div class="movie__grid--item mr-6"
        *ngFor="let movie of movies$"
        [routerLink]="['/movie', movie.id]">
        <div class="">
            <img src="http://localhost:3000/{{movie.poster_path}}"
                alt="">
        </div>
        <div class="mt-3">
            <p class="movie__title">{{movie.title}}</p>
            <p class="mt-3 text-sm leading-4">Release: {{movie.release_date}}</p>
            <div class="flex mt-2">

                <!-- <div class="flex">
                    <svg width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                            fill="#757575" />
                    </svg>
                    <span class="ml-1">Trailer</span>
                </div> -->
                <div class="flex ml-6">
                    <svg width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                            fill="#757575" />
                    </svg>

                    <span class="ml-1">Detail</span>

                </div>
            </div>
        </div>
    </div>
    <!-- 
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div>
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div>
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div>
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div>
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div>
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div>
  <div class="movie__grid--item mr-6">
      <div class="">
          <img src="../../../../../assets/images/img_3-1 (2).jpg"
              alt="">
      </div>
      <div class="mt-3">
          <p class="movie__title">The Hurricane Heist</p>
          <p class="mt-3 text-sm leading-4">Release: May 6, 2017</p>
          <div class="flex mt-2">

              <div class="flex">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 16.5V7.5L16 12L10 16.5Z"
                          fill="#757575" />
                  </svg>
                  <span class="ml-1">Trailer</span>

              </div>
              <div class="flex ml-6">
                  <svg width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z"
                          fill="#757575" />
                  </svg>

                  <span class="ml-1">Detail</span>

              </div>
          </div>

      </div>
  </div> -->
</div>
<!-- end movie grid -->