/* You can add global styles to this file, and also import other style files */
// @import "~ng-zorro-antd/style/entry.less"; /* Import basic styles */
// @import "~ng-zorro-antd/drawer/style/entry.less";  /* Import styles of the component */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.nav__link {
    display: flex;
}

.nav__link li {
    font-size: 15px;
    font-weight: 700;
    line-height: 55px;
    padding: 0 20px;
    cursor: pointer;
}

.nav__link li:hover {
    background-color: #F88C2A;
    color: white;
}

.nav__link .active {
    background-color: #F88C2A;
    color: white;
}

.search {
    display: flex;
}

.search__input {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    color: DBDBDB;
    border: 2px solid #DBDBDB;
    padding: 10px 16px;
    outline: none;
    margin-right: 10px;
    margin-left: 30px;
}

.search__button {
    height: 40px;
    width: 40px;
    color: white;
    background-color: #F88C2A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
}

/* start banner */
.banner {
    width: 100%;
    height: 210px;
    background-image: url('./assets//images/mvcnm2.jpg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 112px;
    color: white;

}

.banner__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
}

.banner__navigation {
    font-size: 13px;
    line-height: 18px;
}

/* end banner */

.custom__container {
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    margin-top: 80px;
}

.content h2 {
    font-size: 30px;
    line-height: 42px;
    color: #666666;
    font-weight: 700;
}

.content .active {
    color: #F88C2A;
}

.content .content__options {
    display: flex;
}

.content__options--select {
    width: 180px;
    padding: 5px 16px;
    border: 2px solid #dddddd;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}

/* start movie grid */
.movie__grid {
    margin-top: 24px;
}

.movie__grid--item {
    margin-bottom: 50px;
}

.movie__grid img {
    width: 204px;
    height: 309px;
}

.movie__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}

/* end movie grid */

.h-514 {
    height: 514px;
}

.bg-info {
    background: rgba(0, 0, 0, 0.4);
}

.bg-F88C2A {
    background-color: #F88C2A;
}

.text-F88C2A {
    color: #F88C2A;
}
.text-666666 {
    color: #666666;
}
.custom_textarea{
    width: 1140px;
    height: 174px;
    border: 1px solid #DBDBDB;
}

.poster-dimension {
    width: 392px;
    height: 588px;
}

.block-dimension {
    height: 40px;
    width: 130px;
}

.tile-dimension {
    height: 45px;
    width: 83px;
}

.w-696 {
    width: 696px;
}

.btn__book {
    // width: 137px;
    // height: 44px;
    outline: none;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    line-height: 18.6px;
    background: linear-gradient(90deg, #BD551D 0%, #F0BA01 100%);
    border-radius: 25px;
}